<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/Form.css" rel="stylesheet">
    <link href="../static/css/Grid.css" rel="stylesheet">
</head>
<body>
<div class="Grid">
    <div class="Wrapper">
    <textarea class="Form">
    ewep[worq
</textarea>
        <button class="Butt">
            Send
        </button>
</div>
    <div class="Result">
        <h2 class="Header">
            Cathegory:
        </h2>
        <span class="Cathegory">
        </span>
    </div>

</div>
<script src="../static/js/basic.js"></script>
</body>
</html>